#first{
    border: 2px solid blue;
    width:600px;
    height:600px;
    padding:40px;
    margin: 0 auto;
}


#normal{
     font-weight: normal;
}



.box{
   padding:5px;
    text-decoration: none;
     font-weight: bold;
}

ul.no_bullet {
list-style-type: none;
padding: 0;
margin: 0;
}

li.pic{
    background-image: url(https://image.flaticon.com/icons/svg/330/330717.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 25px;
}


#or{
     height:20px;
    width:20px;
    position: relative;
    top:2px; /*to align vertically*/
    
     background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQf4LwDXcKn5y_EkLyQqR--jZ8yGMRWjJjLx-2LuEYL7D3Wx7HoXI3dL5k);
    background-size: 20px 20px ;
    padding-left: 25px;
    
}

#ap{
     height:20px;
    width:20px;
    position: relative;
    top:2px; /*to align vertically*/
    
     background-repeat: no-repeat;
    background-image: url(https://openclipart.org/image/2400px/svg_to_png/183645/eco-green-apple.png);
    background-size: 20px 20px ;
    padding-left: 25px;
    
}

#st{
     height:20px;
    width:20px;
    position: relative;
    top:2px; /*to align vertically*/
    
     background-repeat: no-repeat;
    background-image: url(https://thumb9.shutterstock.com/display_pic_with_logo/450076/519486556/stock-vector-strawberry-vector-icon-illustration-delicious-strawberry-icon-red-ripe-strawberry-icon-519486556.jpg);
    background-size: 20px 20px ;
    padding-left: 25px;
    
}

#bl{
     height:20px;
    width:20px;
    position: relative;
    top:2px; /*to align vertically*/
    
     background-repeat: no-repeat;
    background-image: url(http://media.gettyimages.com/photos/blueberry-on-white-picture-id154514876?s=170667a);
    background-size: 20px 20px ;
    padding-left: 25px;
    
}
#gr{
     height:20px;
    width:20px;
    position: relative;
    top:2px; /*to align vertically*/
    
     background-repeat: no-repeat;
    background-image: url(http://www.iconshock.com/img_jpg/REALVISTA/food/jpg/256/grapes_icon.jpg);
    background-size: 20px 20px ;
    padding-left: 25px;
    
}


#ph {
    font-style: italic;
}    

#red{
    color:red;
}

.dec{
     text-decoration: none;
     font-weight: bold;
    
}

#ac a:active {
     border:2px solid black;
    
}





    
    
    
    

